<md-nav-bar layout-xx="row" layout-wrap md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <div flex="100">
        <md-nav-item md-nav-href="#!search" name="search">
            Search
            </md-nav-item>
            <md-nav-item md-nav-href="#!favorites" name="favorites">
            Favorites
        </md-nav-item>
    </div>
    <div flex="100">
        <h1 id="mainTitle">SWAPI-App</h1>
    </div>
    <div flex="100">
        <img class="logoGif" src="https://milnersblog.files.wordpress.com/2014/11/star-wars-at-at-walkers-gif-by-dkng.gif" alt="">
    </div>

    
    
</md-nav-bar>