<section>
    <div id="favoritesMain">
        <div>
            <h3 id="favoritesTitle">Your Favorites:</h3>
        </div>
        <div>
            <h3 id="yourFavorites">Number of Favorites: {{vm.favoritesToList.list.length}}</h3>
        </div>
    </div>

</section>
<section layout-xs="row" layout-wrap>
    <div flex="100" class="itemList" ng-repeat="favorite in vm.favoritesToList.list">
        
        <p ng-if="favorite.name" class="nameTitle">{{favorite.name}}</p>

        <!-- people -->
        
        <p class="itemAttr" ng-if="favorite.birth_year">Born: {{favorite.birth_year}}</p>
        <p class="itemAttr"ng-if="favorite.birth_year"><span class="capitalize">{{favorite.gender}}</span> {{favorite.speciesInfo}}</p>
        <p class="itemAttr"ng-if="favorite.birth_year">Height: {{favorite.height}} cm</p>

        <!-- planets -->
        <p class="itemAttr capitalize" ng-if="favorite.climate">Climate: {{favorite.climate}}</p>
        <p class="itemAttr" ng-if="favorite.climate">Population: {{favorite.population}}</p>
        <p class="itemAttr" ng-if="favorite.climate">Day Length: {{favorite.rotation_period}} hours</p>

        <!-- films -->
        <p class="nameTitle" ng-if="favorite.title">{{favorite.title}}</p>
        <p class="itemAttr" ng-if="favorite.title">Episode {{favorite.episode_id}}</p>
        <p class="itemAttr" ng-if="favorite.title">Released: {{favorite.release_date}}</p>
        <p class="itemAttr" ng-if="favorite.title">Directed by: {{favorite.director}}</p>

        <!-- species -->
        <p class="itemAttr capitalize" ng-if="favorite.classification">Classification: {{favorite.classification}}</p>
        <p class="itemAttr" ng-if="favorite.classification">Language: {{favorite.language}}</p>
        <p class="itemAttr" ng-if="favorite.classification">Homeworld: {{favorite.homeworldInfo}}</p>  

        <!-- vehicles and starships -->
        <p class="itemAttr capitalize" ng-if="favorite.vehicle_class">Class: {{favorite.vehicle_class}}</p>
        <p class="itemAttr capitalize" ng-if="favorite.starship_class">Class: {{favorite.starship_class}}</p>
        <p class="itemAttr" ng-if="favorite.model">Crew size: {{favorite.crew}}</p>
        <p class="itemAttr capitalize" ng-if="favorite.model">Cost in credits: {{favorite.cost_in_credits}}</p>
        
        <div ng-click="vm.removeFavorite(favorite)" class="favoriteIcon">
            <i class="fas fa-star removeFavorite"></i>
            <span>Remove Favorite</span>
        </div>
    </div>
</section>