
<section id="searchDiv">
    <select ng-model="vm.searchInfo.url" ng-options="key as key for (key, value) in vm.searchFilters.list">
    </select>
    <input ng-model="vm.searchInfo.searchString">
    <button ng-click="vm.searchClick(vm.searchInfo)">Search</button>
</section>

<section>
    <div layout-sm="row" id="resultsMain">
        <div flex>
            <h3>Results:</h3>
        </div>
        <div flex>
            <h3>Number of Favorites:</h3>
        </div>
    </div>
    <div layout-xs="row" layout-wrap>
        <div flex="40%" class="itemList" ng-repeat="item in vm.searchReturn.list">
            <!-- people -->
            <p class="bold" ng-if="item.birth_year">{{item.name}}</p>
            <p ng-if="item.birth_year">Born: {{item.birth_year}}</p>
            <p ng-if="item.birth_year"><span class="capitalize">{{item.gender}}</span> {{item.speciesInfo.name}}</p>
            <p ng-if="item.birth_year">Height: {{item.height}} cm</p>

            <!-- planets -->
            <p class="bold" ng-if="item.climate">{{item.name}}</p>
            <p ng-if="item.climate" class="capitalize">Climate: {{item.climate}}</p>
            <p ng-if="item.climate">Population: {{item.population}}</p>
            <p ng-if="item.climate">Day Length: {{item.rotation_period}} hours</p>

            <!-- films -->
            <p class="bold" ng-if="item.title">{{item.title}}</p>
            <p ng-if="item.title">Episode {{item.episode_id}}</p>
            <p ng-if="item.title">Released: {{item.release_date}}</p>
            <p ng-if="item.title">Directed by: {{item.director}}</p>

            <!-- species -->
            <p class="bold" ng-if="item.classification">{{item.name}}</p>
            <p ng-if="item.classification" class="capitalize">Classification: {{item.classification}}</p>
            <p ng-if="item.classification">Language: {{item.language}}</p>
            <p ng-if="item.classification">Homeworld: {{item.homeworldInfo.name}}</p>  

            <!-- vehicles and starships -->
            <p class="bold" ng-if="item.model">{{item.name}}</p>
            <p ng-if="item.model">Model: {{item.model}}</p>
            <p ng-if="item.model">Crew size: {{item.crew}}</p>
            <p ng-if="item.model">Cost in credits: {{item.cost_in_credits}}</p>
                
            <!-- add favorite -->
            <p ng-click="vm.addFav(item)">Add Favorite</p>
        </div>
    </div>
</section>
