
<section>
    <select ng-model="vm.searchInfo.url" ng-options="key as key for (key, value) in vm.searchFilters.list">
    </select>
    <input ng-model="vm.searchInfo.searchString">
    <button ng-click="vm.searchClick(vm.searchInfo)">Search</button>
</section>

<section>
    <h3>Results:</h3>
    <h3>Number of Favorites:</h3>
    <div ng-if="vm.searchDivs.people" class="itemList" ng-repeat="people in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{people.name}}</p>
            <p>Born: {{people.birth_year}}</p>
            <p><span class="capitalize">{{people.gender}}</span> {{people.species_data.name}}</p>
            <p></p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
    <div ng-if="vm.searchDivs.planets" class="itemList" ng-repeat="planets in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{planets.name}}</p>
            <p class="capitalize">Climate: {{planets.climate}}</p>
            <p>{{planets.population}}</p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
    <div ng-if="vm.searchDivs.films" class="itemList" ng-repeat="films in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{films.title}}</p>
            <p>Episode {{films.episode_id}}</p>
            <p>Released: {{films.release_date}}</p>
            <p>Directed by: {{films.director}}</p>
            <p>Prouced by: {{films.producer}}</p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
    <div ng-if="vm.searchDivs.species" class="itemList" ng-repeat="species in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{species.name}}</p>
            <p class="capitalize">Classification: {{species.classification}}</p>
            <p>{{species.language}}</p>
            <p>{{species.homeworld.name}}</p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
    <div ng-if="vm.searchDivs.vehicles" class="itemList" ng-repeat="vehicles in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{vehicles.name}}</p>
            <p>Model: {{vehicles.model}}</p>
            <p>Manufacturer: {{vehicles.manufacturer}}</p>
            <p>Crew size: {{vehicles.crew}}</p>
            <p>Cost in credits: {{vehicles.cost_in_credits}}</p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
    <div ng-if="vm.searchDivs.starships" class="itemList" ng-repeat="starships in vm.searchReturn.list">
        <div class="itemInfo">
            <p>{{starships.name}}</p>
            <p>Model: {{starships.model}}</p>
            <p>Manufacturer: {{starships.manufacturer}}</p>
            <p>Crew size: {{starships.crew}}</p>
            <p>Cost in credits: {{starships.cost_in_credits}}</p>
        </div>
        <div class="addFavorite">
            <p>Add Favorite</p>
        </div>        
    </div>
</section>
